* {
    margin:0;
    padding:0;
}

body {
    min-width: 960px;
    margin: 0;
}

.a-lnk {
    color: #ffffff;
    text-decoration: none;
}

#header {
    padding: 10px 60px;
    background-color: rgb(121, 128, 125);
}

#logo {
    height: 50px;
    width: 81px;
}

#header-nav {
    display: inline-block;
    float: right;
}

.header-nav-ul, .header-nav-li{
    display: inline-block;
}

.header-nav-li {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.3rem;
    padding-top: 10px;
    margin-right: 10px;
}

#search {
    display: inline-block;
    border-radius: 15px;
    margin-right: 10px;
    height: 30px;
    box-sizing: border-box;;
    padding: 0 15px 0 30px;
    border: 0px;
    background: #fff url(../img/search.png) 8px 5px no-repeat;
    background-size: 20px;
}

#main {
    width:100%;
    /*height:400px;*/
    background-image: url(../img/background.jpeg);
    background-size: cover;
    
}

#title {
    display:inline-block;
    float:left;
    padding-left:20px;
    padding-top:100px;
    height:50%;
    width:50%;
}

.title-h {
    margin-left: 100px;
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-bottom: 20px;
    font-size: 3rem;
}

#nav-li {
    color: #fee;
    text-decoration: none;
}

.sign {
    margin-left: 130px;
    margin-top:40px;
    margin-bottom:20px;
    display:inline-block;
    background-color:#ffffff;
    padding:20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    width:20%;
    height:80%;
    border-radius: 10px;
}

.login-form-logo {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.login-username, .login-passwd {
    display: block;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 80%;
    box-sizing: border-box;
    padding: 0 5px 0 10px;
    border-width: 2px;
    border-color: #bbbbbb;
}

.login-passwd {
    margin-bottom: 20px;
}

.memberPasswd, .label-memberPassed {
    margin-left: 20px;
}

.login-bu {
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:20px;
    width:80%;
    height:40px;
    border-radius: 2em;
    color: #fff;
    background-color: #4fc08d;
    line-height: 16px;
    font-size: 20px;
    text-decoration: none;
}

.has-icon > svg {
    left: 0.4em;
    top: 0.4em;
    width:1.2em;
}

.a-button {
    margin-left: 10px;
    padding: 4px 0;
    display: inline-block;
    line-height:16px;
    font-size:20px;
    width:48%;
    border-radius: 2em;
    background-color: #4fc08c7a;
    text-align: center;
    color: #7f8c8d;
    text-decoration: none;
}

.login-fgtpwd {
    margin-left:20px;
    display:inline-block;
    color: #7f8c8d;
    text-decoration: none;
}

.a-register {
    display: block;
    margin-top:20px;
    margin-left: 20px;
    font-size: 14px;
    color: #54bd8eed;
    text-decoration: none;
}

#describe .inner {
    width:80%;
    margin:0 auto;
}
#describe .inner-point {
    border:0 solid #9cdfc7;
    height:133px;
    text-align:center;
    width: 33%;
    margin:12px 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 2em;
}

.inner-point h2{
    margin:5px 0;
}

#footer { 
    display:block;
    overflow:hidden;
    font-size: 14px;

}

.footer-li-head {
    display: inline;
}

.footer-li {
    text-align:center;
    display:inline;
    padding: 0 12px;
    border-left: 1px solid #b6bac3;
    line-height: 1.1;
}

.b-lnk {
    color: #999;
    text-decoration: none;
}

.footer-ul {
    text-align:center;
}

input{  
    outline:none;  
}

input::-webkit-input-placeholder {
    color: #c3c3c3;
}

input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #c3c3c3;
}

input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #c3c3c3;
}

input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color: #c3c3c3;
}
