<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="static/img/favicon.ico" />
        <link rel="bookmark"href="static/img/favicon.ico" />
        <title>Sig文档整理</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="static/css/index.css" />
    </head>
    
    <body>
        <div id="header">
            <a href="index.html">
                <img id=logo src="static/img/logo.png">
            </a>
            <span id="header-nav">
                <input type="text" id="search" placeholder="搜索提示框" >
                <ul class="header-nav-ul">
                    <li class="header-nav-li" v-for="menu in nav"><a class="a-lnk" v-bind:href="menu.href">{{ menu.name }}</a></li>
                </ul>
            </span>
        </div>

        <div id="main">
            <div id="title">
                <h1 class="title-h">{{ title }}<br>{{ subtitle }}</h1>
                <br>
            </div>
             <div class="sign">
                <form id="sign-login" method="POST">                   
                    <p class="login-form-logo">帐号密码登录</p>
                    <input class="login-username" id="userName" type="text" name="userName" autocomplete="off" value placeholder="邮箱/用户名">
                    <input class="login-passwd" type="password" name="password" autocomplete="off" value placeholder="密码">
                    <input class="memberPasswd" type="checkbox" name="memberPass" checked="checked">
                    <label class="label-memberPasswd" for="memberPasswd">下次自动登录</label>
                    </br>
                    <input class="login-bu" type="submit" value="登录">
                    <a class="login-fgtpwd" href="static/page-recoverpw.html">忘记密码?</a>
                    <a class="a-button has-icon" href="https://github.com/Sigboom/HCJS">
                        <svg viewBox="0 0 24 24">
                            <title>GitHub Dark icon</title>
                            <path fill="#7f8C8D" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
                        </svg>
                        GitHub
                    </a>
                    <a class="a-register" href="static/register.html">还没有账号？快注册一个吧！</a>
                </form>
            </div>
        </div>
        
        <div id="describe">
            <div class="inner">
                <div class="inner-point" v-for="point in desmap">
                    <h2>{{ point.header }}</h2>
                    <p>{{ point.des }}</p>
                </div>
            </div>
        </div>
        
        <div id="footer">
            <ul class="footer-ul">
                <li class="footer-li-head"><a class="b-lnk" v-bind:href=logo.href>{{ logo.name }}</a></li>
                <li class="footer-li" v-for="blink in nav"><a class="b-lnk" v-bind:href="blink.href">{{ blink.name }}</a></li>
            </ul>      
        </div>

        <script>
            var head = new Vue({
                el: "#header",
                data: {
                    nav: [
                        { name: '首页', href: '#' },
                        { name: '使用教程', href: 'https://sigboom.cn' },
                        { name: '感谢', href: '#' },
                        { name: '反馈', href: '#' }
                    ]
                }
            })
            var title = new Vue({
                el: "#title",
                data: {
                    title: "Sig文档整理",
                    subtitle: "最轻松的文档管理平台"
                }
            })
            var des = new Vue ({
                el: "#describe",
                data: {
                    desmap: [
                        { header: "智能方便", des: "显示自己的文档的情况，提供消息通知功能，及时查看属于自己的文件。" },
                        { header: "高效管理", des: "及时管理自己的文档，生成个性化文件存储管理方案！即刻管理自己的文件" },
                        { header: "团队合作", des: "快速了解团队知识结构，及时掌握团队核心竞争力。" }
                    ]
                } 
            })
            var footer = new Vue({
                el: "#footer",
                data: {
                    logo: {name: 'Copyright©2019', href: '#'},
                    nav:[
                        {name: 'Sig 文档整理平台', href: '#'},
                        {name: 'Doni Daniel', href: '#'},
                        {name: '黑ICP备19005781号', href: 'http://beian.miit.gov.cn/state/outPortal/loginPortal.action'}
                    ]
                }
            })
        </script>
    </body>
</html>
